.box {
  border: 1px solid black;
  height: 200px;
  width: 200px;

  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}

/* by Id css */
#myDiv {
  background-color: blue;
}

/* by element css */
div {
  background-color: yellow;
  padding: 10px;
  margin: 10px;
}

/* reference css */
/* div > b {
    font-size: 30px;
  } */

/* direct child ref */
/* .box > b {
    font-size: 30px;
  } */

/* any level child ref */
.box b {
  font-size: 30px;
}

/* parellel css */
div,
b {
  font-size: 14px;
}

/* font size */
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}

/* font-color */
.fRed {
  color: red;
}
.fYellow {
  color: yellow;
}

/* bg color */
.bgRed {
  background-color: red;
}
.bgYellow {
  background-color: yellow;
}

/* padding */
.p4 {
  padding: 4px;
}
.p8 {
  padding: 8px;
}
